---
title: 
---

.delete-me
  .container
    %h1
      %a{href: "https://github.com/thoughtbot/proteus-middleman"}Proteus 
      and Blog templates are set up
    %ul
      %li
        %a{href: "/blog/tags"}Blog tags.
